                                    /* TAG SELECTORS */
html, body {
    margin: 0;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
h1 {
    width: 10%;
    margin: 0 auto;
}




                                    /* CLASS SELECTORS */

.top-container {
    background-color: #fcf9ea;
    width: 100%;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.middle-container {
    height: 200px;
    width: 200px;
    background-color: blue;
}
.bottom-container {
    height: 200px;
    width: 200px;
    background-color: red;
}


                                    /* ID SELECTORS */